.title{
  color: dodgerblue;
  text-align: center;
}

.App{
  margin: 16px;
  text-align: center;
}

.red{
  color: red;
}

.bold{
  font-weight: bold;
}

button:hover{
  background-color: white;
  color: green
}